html,
body {
  margin: 0;
  padding: 0;
  border-radius: 10px;
  overflow: hidden;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: transparent;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  width: calc(100vw - 10px);
  height: calc(100vh - 4px);
  margin: 0;
  padding: 2px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 10px;

  overflow: hidden;

  user-select: none;

  background-color: whitesmoke;
}
